@import "tailwindcss";


.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 1s ease,
        transform 1s ease;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}