---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Question from "../components/Question.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Features from "../components/Features.astro";
import Pro from "../components/Pro.astro";
import ForWho from "../components/ForWho.astro";
import Privacy from "../components/Privacy.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Question />
    <HowItWorks />
    <Features />
    <Pro />
    <ForWho />
    <Privacy />
    <CTA />
  </main>
  <Footer />
</Layout>
