---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import bg from "../assets/benefits-bg.png";
import img1 from "../assets/benefits1.png";
---

<div class="relative flex flex-col items-center">
	<Image
		src={bg}
		class={"w-full left-0 "}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>
	<div class="absolute">
		<h3 class="text-4xl text-center font-bold pt-25">
			BENEFITS
			<br />
			<span class="italic font-normal">using</span>
			LIFE VISOR
		</h3>

		<div>
			<Image
				src={img1}
				class={""}
				layout="constrained"
				width={300}
				alt="Fondo del hero"
			/>
		</div>
	</div>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
