---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import bg1 from "../assets/download-bg1.png";
import bg2 from "../assets/download-bg2.png";
import img from "../assets/download.png";
---

<div class="relative flex flex-col items-center">
	<Image
		src={bg1}
		class={"absolute w-full left-0"}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>
	<Image
		src={bg2}
		class={"absolute w-20 left-0 top-125"}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>

	<button
		class="bg-[#24333F] text-white mx-auto text-lg text-center opacity-80 px-8 py-3 rounded-full mt-15 tracking-[.3em]"
		>COMING SOON</button
	>

	<Image
		src={img}
		class={"w-full z-10"}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
