---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import bg1 from "../assets/download-bg1.png";
import bg2 from "../assets/download-bg2.png";
import img from "../assets/download.png";
---

<div class="relative flex flex-col items-center">
	<Image
		src={bg1}
		class={"absolute w-full left-0"}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>
	<Image
		src={bg2}
		class={"absolute w-20 left-0 top-125"}
		layout="constrained"
		width={300}
		alt="Fondo del hero"
	/>

	<button
		class="bg-[#24333F] text-white mx-auto text-lg text-center opacity-80 px-8 py-3 rounded-full mt-15 tracking-[.3em]"
		>COMING SOON</button
	>

	<div class={"w-full z-10 shake-target"}>
		<Image
			src={img}
			class={"w-full"}
			layout="constrained"
			width={300}
			alt="Fondo del hero"
		/>
	</div>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
	@keyframes horizontal-shaking {
		0% {
			transform: translateX(0);
		}
		20% {
			transform: translateX(2px);
		}
		40% {
			transform: translateX(-2px);
		}
		60% {
			transform: translateX(2px);
		}
		80% {
			transform: translateX(-2px);
		}
		100% {
			transform: translateX(0);
		}
	}

	.shake-once {
		animation: horizontal-shaking 0.4s ease-in-out 2;
	}
</style>

<script>
	const target = document.querySelector(".shake-target");

	if (target) {
		const observer = new IntersectionObserver(
			(entries, obs) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("shake-once");
						obs.unobserve(entry.target); // 🔥 solo una vez
					}
				});
			},
			{
				threshold: 0.5, // 50% visible
			},
		);

		observer.observe(target);
	}
</script>
