---
import { Icon } from "astro-icon/components";
---

<div
	class="px-6 pb-15 md:gap-10 lg:px-[12vw] md:px-10 md:py-10 md:flex md:justify-between"
>
	<!-- slide 1 -->
	<div
		class="fade-in-section bg-[#E4EAF0] md:bg-transparent md:max-w-xs shadow-lg md:shadow-none flex flex-col md:items-start items-center md:py-0 py-[15vw] px-9 md:px-0 rounded-4xl"
	>
		<Icon name="check" size={75} class="md:hidden" />
		<div class="md:flex">
			<Icon
				name="check-white"
				size={35}
				class="hidden md:block ml-2 mr-8"
			/>
			<h3
				class="md:font-bold text-4xl md:text-lg text-[#24333F] md:text-[#E4EAF0] opacity-80 md:mt-2 mt-10 font-normal"
			>
				Track <span class="font-bold">your</span> time
			</h3>
		</div>
		<p
			class="mt-7 md:text-base text-xl md:text-left lg:text-lg text-[#24333F] md:text-[#E4EAF0] text-center opacity-60"
		>
			Create your daily activities or new habits you want to build in your
			life. Track your progress!
		</p>
	</div>

	<!-- slide 2 -->
	<div
		class="mt-5 md:mt-0 fade-in-section bg-[#CFACAD] md:bg-transparent md:max-w-xs shadow-lg md:shadow-none flex flex-col md:items-start items-center md:py-0 py-[15vw] px-9 md:px-0 rounded-4xl"
	>
		<Icon name="gear" size={75} class="md:hidden" />
		<div class="md:flex">
			<Icon
				name="gear"
				size={35}
				class="hidden md:block ml-2 mr-8 md:opacity-80 lg:ml-10"
			/>
			<h3
				class="md:font-bold text-4xl md:text-lg text-white md:text-[#E4EAF0] opacity-80 md:mt-2 mt-10 font-normal"
			>
				Follow <span class="font-bold">Up</span>
			</h3>
		</div>
		<p
			class="mt-7 md:text-base text-xl md:text-left lg:text-lg text-white md:text-[#E4EAF0] text-center opacity-60"
		>
			Get motivated when starting an activity and beat your own goals by
			becoming aware of your time.
		</p>
	</div>

	<!-- slide 3 -->
	<div
		class="mt-5 md:mt-0 fade-in-section bg-[#374C5F] md:bg-transparent md:max-w-xs shadow-lg md:shadow-none flex flex-col md:items-start items-center md:py-0 py-[15vw] px-9 md:px-0 rounded-4xl"
	>
		<Icon name="signal" size={75} class="md:hidden" />
		<div class="md:flex">
			<Icon
				name="signal"
				size={35}
				class="hidden md:block ml-2 mr-8 lg:ml-8"
			/>
			<h3
				class="md:font-bold text-center md:text-left text-4xl md:text-lg text-white md:text-[#E4EAF0] opacity-80 md:mt-2 mt-10 font-normal"
			>
				Analyze
				<br class="md:hidden" />
				<span class="hidden md:inline-block">and</span>

				<span class="font-bold">Enjoy!</span>
			</h3>
		</div>
		<p
			class="mt-7 md:text-base text-xl md:text-left lg:text-lg text-white md:text-[#E4EAF0] text-center opacity-60"
		>
			Analyze how you spend your time in each area of your life. Are you
			working too much? Missing your family? Get to know yourself.
		</p>
	</div>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
