---
import { Icon } from "astro-icon/components";
---

<div class="bg-[#121920] pt-10 pb-13 px-13 text-[#E4EAF0]">
	<div class="flex gap-2 mb-6">
		<div class="w-7 h-7 border-2 border-[#E4EAF0] rounded-full"></div>
		<h1 class="ml-2 mt-0.5 text-lg opacity-80 tracking-[.45em]">
			Life Visor
		</h1>
	</div>

	<div class="flex items-end justify-between">
		<div class="flex flex-col items-start">
			<p class="text-xl font-bold">Menu</p>
			<button class="mt-6 text-sm opacity-70 tracking-[.4em]">
				Privacy
			</button>
			<button class="mt-6 text-sm opacity-70 tracking-[.4em]">
				Download
			</button>
			<button class="mt-6 text-sm opacity-70 tracking-[.4em]">
				Contact
			</button>
		</div>
		<div class="flex gap-3">
			<Icon name="facebook" size={26} />
			<Icon name="instagram" size={26} />
			<Icon name="mail" size={26} />
		</div>
	</div>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
