---
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
---

<div>
	<main>
		<section class="px-20">
			<div
				class="flex py-25 px-20 glass bg-white/10 border border-white/50 rounded-[80px]"
			>
				<div>
					<h2
						class="text-white text-6xl font-bold tracking-wide max-w-lg"
					>
						Be mindful of your
						<span class="font-normal tracking-[.25em]"> time </span>
					</h2>
					<p>
						Stop living on autopilot and start experiencing every
						moment with Life Visor — your guide to a more mindful
						day.
					</p>
				</div>
				<Image
					src={hero}
					layout="constrained"
					width={414}
					height={442}
					alt="Smartphone running the Life Visor app, showing the main screen."
				/>
			</div>
		</section>
	</main>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
