---
import { Icon } from "astro-icon/components";
---

<nav class="navbar py-5 px-10 flex items-center justify-between bg-[#CFACAD]">
	<div class="h-8 w-8 border-2 border-[#E4EAF0] rounded-full shadow-md"></div>

	<Icon name="menu" size={40} />

	<!-- <div
		class="bg-[#CFACAD] py-4 px-10 rounded-full border-white/50 border glass"
	>
		<p
			class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
		>
			HOME
		</p>
	</div> -->
</nav>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
