<nav class="flex px-30 py-6 gap-4 justify-end">
	<div
		class="bg-[#CFACAD] py-4 px-10 rounded-full border-white/50 border glass"
	>
		<p
			class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
		>
			HOME
		</p>
	</div>

	<div
		class="bg-white/10 py-4 px-10 rounded-full border-white/50 border glass"
	>
		<p
			class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
		>
			CONTACT
		</p>
	</div>

	<div
		class="bg-white/10 py-4 px-10 rounded-full border-white/50 border glass"
	>
		<p
			class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
		>
			PRIVACY
		</p>
	</div>
</nav>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
