---
import { Icon } from "astro-icon/components";
---

<nav
	class="navbar py-5 md:pb-7 md:justify-end md:px-[11vw] px-10 flex items-center justify-between bg-[#CFACAD] md:bg-transparent"
>
	<div
		id="menu"
		class="hidden overlay h-100vh z-30 fixed inset-0 bg-[#121920]"
	>
		<div class="flex flex-col items-center justify-center h-full">
			<button id="close-menu">
				<Icon name="close" size={50} class="absolute top-10 right-10" />
			</button>
			<a href="/" class="text-white text-2xl"> HOME </a>
			<a href="/" class="text-white text-2xl mt-10"> CONTACT </a>
			<a href="/privacy" class="text-white text-2xl mt-10"> PRIVACY </a>
		</div>
	</div>

	<div
		class="h-8 w-8 border-2 border-[#E4EAF0] rounded-full shadow-md md:hidden"
	>
	</div>

	<button id="open-menu" class="md:hidden">
		<Icon name="menu" size={40} />
	</button>

	<div class="hidden md:flex gap-5">
		<a
			href="/"
			class="bg-[#CFACAD] py-4 px-10 rounded-full border-white/50 border glass"
		>
			<p
				class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
			>
				HOME
			</p>
		</a>
		<a
			href="/"
			class="bg-transparent py-4 px-10 rounded-full border-white/50 border glass"
		>
			<p
				class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
			>
				CONTACT
			</p>
		</a>
		<a
			href="/privacy"
			class="bg-transparent py-4 px-10 rounded-full border-white/50 border glass"
		>
			<p
				class="text-sm text-white opacity-[0.8] text-shadow-lg tracking-[.25em]"
			>
				PRIVACY
			</p>
		</a>
	</div>
</nav>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>

<script>
	const menu = document.getElementById("menu");
	const closeBtn = document.getElementById("close-menu");
	const openBtn = document.getElementById("open-menu");

	if (menu && closeBtn && openBtn) {
		closeBtn.addEventListener("click", () => {
			// Cerrar
			document.body.style.overflow = "";

			menu.classList.add("hidden");
			menu.classList.remove("fixed");
		});

		openBtn.addEventListener("click", () => {
			// Abrir
			document.body.style.overflow = "hidden";

			menu.classList.add("fixed");
			menu.classList.remove("hidden");
		});
	}
</script>
