---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import bg1 from "../assets/review-desk-bg1.png";
import bg2 from "../assets/review-desk-bg2.png";
import bg3 from "../assets/review-desk-bg3.png";
import bg4 from "../assets/review-desk-bg4.png";
---

<div class="hidden md:block pt-15 justify-center relative w-full">
	<div
		class="fade-in-section lg:max-w-4xl md:max-w-xl mx-auto mb-15 py-10 border-b-4 border-white flex justify-center"
	>
		<h3 class="lg:text-7xl md:text-5xl text-white font-bold leading-14">
			<span class="ml-4"> Our </span>

			<br />
			<span class="font-normal tracking-[.3em] ml-3 text-6xl">
				reviews
			</span>
		</h3>
	</div>

	<Image
		src={bg1}
		class={"absolute left-0 "}
		layout="constrained"
		width={420}
		alt="Fondo del hero"
	/>

	<Image
		src={bg2}
		class={"absolute left-120 top-135 hidden lg:block"}
		layout="constrained"
		width={320}
		alt="Fondo del hero"
	/>

	<Image
		src={bg3}
		class={"absolute right-30 top-100"}
		layout="constrained"
		width={500}
		alt="Fondo del hero"
	/>
	<Image
		src={bg4}
		class={"absolute right-0 top-3/4"}
		layout="constrained"
		width={150}
		alt="Fondo del hero"
	/>

	<div
		class="fade-in-section lg:px-[13em] px-15 flex justify-between gap-8 mt-30"
	>
		<!-- slide 1 -->
		<div
			class="glass h-140 pb-18 lg:w-1/3 w-1/2 flex flex-col justify-between bg-[#F5F5F5]/60 py-12 border border-white/50 px-16 rounded-[40px]"
		>
			<div>
				<h5
					class="text-2xl font-bold tracking-[.3em] text-[#24333F] text-shadow-lg opacity-80"
				>
					Useful
					<br />
					App
				</h5>
				<p class="mt-13 opacity-80 text-lg text-[#121920]">
					I use this app like everyday, for me it became like an
					habit, i love it, i know perfectly how much time I spent in
					certain activities in my life, so i think it’s really
					useful.
				</p>
			</div>
			<div class="flex justify-center">
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
			</div>
		</div>
		<!-- slide 2 -->
		<div
			class="glass hidden lg:flex h-140 pb-18 lg:w-1/3 flex-col justify-between bg-[#F5F5F5]/60 py-12 border border-white/50 px-16 rounded-[40px]"
		>
			<div>
				<h5
					class="text-2xl font-bold tracking-[.3em] text-[#24333F] text-shadow-lg opacity-80"
				>
					Habit
					<br />
					App
				</h5>
				<p class="mt-13 opacity-80 text-lg text-[#121920]">
					I think there is no other app like this, but I don’t use it
					so much.
				</p>
			</div>
			<div class="flex justify-center">
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
			</div>
		</div>
		<!-- slide 3 -->
		<div
			class="glass h-140 pb-18 flex flex-col w-1/2 lg:w-1/3 justify-between bg-[#F5F5F5]/60 py-12 border border-white/50 px-16 rounded-[40px]"
		>
			<div>
				<h5
					class="text-2xl font-bold tracking-[.3em] text-[#24333F] text-shadow-lg opacity-80"
				>
					Change
					<br />
					my life
				</h5>
				<p class="mt-13 opacity-80 text-lg text-[#121920]">
					I can’t imagine my life without this app, I literally use it
					every day, bcus for me it was a game changing.
				</p>
			</div>
			<div class="flex justify-center">
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
				<Icon name="star" size={25} />
			</div>
		</div>
	</div>
</div>

<style>
	.glass {
		backdrop-filter: blur(5px);
	}
</style>
