---
import "../styles/global.css";
import "@fontsource/istok-web";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
			initial-scale="1,"
			viewport-fit="cover/"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #5b7e9e;
		font-family: "Istok Web", sans-serif;
		color: "#121920";
	}
</style>
